$enable-important-utilities: true;
$enable-negative-margins: true;
$enable-transitions: true;
$enable-reduced-motion: true;

$green: #128664;

/*$container-max-widths: (
        xxl: 1320px
);*/

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

$font-size-root: 16px;
$body-bg: $gray-200;

$display-font-sizes: (
        1: 4rem,
        2: 3.5rem,
        3: 3rem,
        4: 2.5rem,
        5: 2rem,
        6: 1.5rem
);

$link-color: $blue-500;
$link-hover-color: $blue-700;
$link-decoration: none;

$caret-width: .25rem;

$dropdown-padding-y: 0;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-hover-bg: $gray-200;

//FOCUS
$otm-focus-width: 0.1rem;
$btn-focus-width: $otm-focus-width;
$btn-focus-box-shadow: 0 0 0 $otm-focus-width $input-btn-focus-color;
$input-focus-box-shadow: 0 0 0 $otm-focus-width $input-btn-focus-color;
$form-select-focus-box-shadow: 0 0 0 $otm-focus-width $input-btn-focus-color;
$form-check-input-focus-box-shadow: 0 0 0 $otm-focus-width $input-btn-focus-color;

//FORMS
$form-label-font-weight: 500;
$form-label-margin-bottom: 0.125rem;
$form-label-font-size: $small-font-size;

$btn-close-focus-shadow: none;

$modal-backdrop-opacity: 0.4;

//nav tbas
$nav-link-padding-y: 0.75rem;
$nav-tabs-link-active-bg: $gray-400;
$nav-tabs-link-active-color: $gray-900;

@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/helpers";
@import "node_modules/bootstrap/scss/utilities/api";

//NAV otm
$user-img-max-height: 2.5rem;
$nav-otm-color: $gray-900;
.nav-otm {

  @extend .align-items-center;

  .nav-item {
    .nav-link {
      font-weight: 500;
      color: $nav-otm-color;
      @extend .py-3;

      &.nav-link-user {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;

        img {
          max-height: $user-img-max-height;
        }
      }

      &:hover {
        background-color: $gray-200;
      }

      &.show {
        background-color: $gray-200;
      }

      &.active, &:active {
        background-color: $gray-300;
      }

    }

    .dropdown-menu {
      @extend .shadow;
      @extend .rounded-0;
      @extend .rounded-bottom;

      .dropdown-item {
        font-weight: 500;
        color: $nav-otm-color;
        @extend .py-2;

        &:hover {
          background-color: $gray-200;
        }

        &:active {
          background-color: $gray-300;
        }
      }
    }
  }
}

//breadcrumb
.breadcrumb-otm {
  @extend .py-2;
  @extend .px-3;
  background-color: $gray-300;
}

//dropdowns
a.dropdown-toggle.show {
  color: $link-hover-color;
}

.dropdown-toggle-no-caret:after {
  display: none;
}

//headings
.page-title {
  color: $red;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page-subtitle {
  color: $gray-800;
  font-size: 1.2rem;
}

//tosts
.alert-toast{
  padding: 0.5rem 3rem 0.5rem 0.5rem !important;
  .btn-close{
  padding: 0.825rem;
}
}

.alert-toast-success{

  background-color: $teal;
  color: shade-color($teal, 70%);

}
.alert-toast-danger{
  background-color: $danger;
  color: tint-color($danger, 90%);
}

//utilities
.dn{
  display: none;
}

//btn-light
.btn-light {
  @extend .btn-light;
  &:hover, &:focus, &:active, .active{
    background-color: shade-color($light, 10%);
    border-color: shade-color($light, 11%);
  }
}

//reduced buttons
@each $color, $value in $theme-colors{
  .btn-reduced-#{$color}{
    background-color: $white;
    border-color: tint-color($value, 30%);
    color: $value;
    font-weight: 500;
    &:hover, &:active, &.active{
      background-color: tint-color($value, 85%);
      border-color: tint-color($value, 30%);
      color: shade-color($value, 10%);
    }
    &:focus{
      background-color: tint-color($value, 80%);
      box-shadow: 0 0 0 $otm-focus-width rgba($value, 0.25);
    }
  }
}

//flat buttons
@each $color, $value in $theme-colors{
  .btn-flat-#{$color}{
    color: $value;
    font-weight: 500;
    &:hover{
      color: shade-color($value, 5%);
      background-color: rgba($value, 0.07);
    }
    &:focus, &:active, &.active{
      background-color: rgba($value, 0.2);
      border-color: rgba($value, 0);
    }
    &:focus{
      box-shadow: 0 0 0 $otm-focus-width rgba($value, 0.25);
    }
  }
}

//icon buttons
.btn-icon {
  @extend .btn;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0 !important;
  width: 2.375rem;
  height: 2.375rem;
  position: relative;
  z-index: 0;
  &::before{
    border-radius: 50%;
    content: '';
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-property: transform, opacity;
  }
  &:hover, &:active, &.active{
    &::before{
      opacity: 1;
      transform: scale(1);
    }
  }
  &:focus, &.focus {
    outline: 0;
  }
}
.btn-icon-sm {
  @extend .btn-icon;
  width: 1.925rem !important;
  height: 1.925rem !important;
}
@each $color, $value in $theme-colors{
  .btn-icon-#{$color}{
    color: tint-color($value, 10%);

    &::before {
      border: 1px solid tint-color($value, 80%);
      background-color: tint-color($value, 80%);
    }

    &:hover, &:active, &.active{
      color: shade-color($value, 15%);
    }

    &:focus, &.focus {
      background-color: tint-color($value, 80%);
      box-shadow: 0 0 0 $otm-focus-width tint-color($value, 75%);
    }
  }
}

//border hovers
@each $color, $value in $theme-colors{
  .border-hover-#{$color}{
    &:hover{
      border-color: $value !important;
    }
  }
}

//shadow hover
.shadow-hover{
  &:hover {
    @extend .shadow;
  }
}

.shadow-sm-hover{
  &:hover{
    @extend .shadow-sm;
  }
}

//font size medium and small
.fs-medium{
  font-size: 0.875rem !important;
}

small, .small{
  font-size: 0.75rem !important;
}

//cursors
.cursor-pointer{
  cursor: pointer !important;
}

//blockquote
.blockquote{
  @extend .blockquote;
  border-left: 3px solid $gray-500;
  padding-left: 4px;
  font-style: italic;
  @extend .fs-medium;
}

//tables
.table-td-middle{
  td{
    vertical-align: middle;
  }
}



//Font Awesome
$fa-font-path: "../fonts";
$fa-font-size-base: 1rem;
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";

